
.container{
    position: relative;
    border-radius: 10px;
    height: 200px;
    width: 100px;
    padding: 20px;
    margin:0 auto;
}

.jonface .hair{
    top: 33px;
    height: 93px;
    width: calc(94px + 10px);
    margin-left: calc((-94px + -10px) / 2);
    border-radius: 48px 48px 40px 40px;

    position: absolute;
    background: #5C2523;
    left: 50%;
}

.jonface .ears{
    position: absolute;
    top: 45%;
    left: 50%;
    width: 94px;
    height: 110px;
    margin-top: calc(-110px / 2);
    margin-left: calc(-94px / 2);


}

.jonface .ears:before{
    left: -11px;
    border-radius: 22px 11px 11px 22px;

    content: "";
    position: absolute;
    top: 44%;
    background: #ffcd94;
    height: 22px;
    width: 11px;
    z-index: 10;
}

.jonface .ears:after{
    right: -11px;
    border-radius: 11px 22px 22px 11px;

    content: "";
    position: absolute;
    top: 44%;
    background: #ffcd94;
    height: 22px;
    width: 11px;
    z-index: 10;
}

.jonface header{
    border-radius: 40px 40px 50px 50px;
    position: absolute;
    top: 45%;
    left: 50%;
    width: 94px;
    height: 110px;
    margin-top: calc(-110px / 2);
    margin-left: calc(-94px / 2);
    background: #ffcd94;
    overflow: hidden;
}

.jonface header .eyes{
    position: absolute;
    top: 37%;
    left: 50%;

}

.jonface header .eyes:before,.jonface header .eyes:after{
    content: "";
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    border: 6px solid #171717;
    border-radius: 10px;
}

.jonface header .eyes:before {
    left: 11px;
}

.jonface header .eyes:after {
    right: 11px;
}

.jonface header .nose{
    position: absolute;
    top: 53%;
    left: 50%;
    height: 10px;
    width: 5px;
    margin-left: calc(-5px / 2);
    border: 2px solid #171717;
    border-color: transparent transparent #171717 #171717;
    border-radius: 0 10px 10px;
}

.jonface header .mouth{
    position: absolute;
    top: 42%;
    left: 50%;
    width: 45px;
    height: 40px;
    margin-left: calc((-45px + -2px) / 2);
    border: 2px solid #171717;
    border-radius: 20px;
    border-color: transparent transparent #171717 transparent;
}

.clear{
    clear:both;
}