
*{
    margin:0;
    padding:0;
}

html,body{
    height: 100%
}
body {
    color: #333;
}

@keyframes circling {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

.u-height {
    height: 100%;
}

.m-song {
    height: 100%;
    min-width: 320px;
    position: relative;
    overflow: hidden;
}

.m-song-bg {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: 1;
/*    background: url(./images/song/song-img-background.png) no-repeat 50%;
    background-size: auto 100%;*/
    transform: scale(1.5);
    transform-origin: center top;
    z-index: -1;
    transition: opacity .3s linear;
}

.m-song-bg:after {
    content: " ";
    background-color: rgba(0,0,0,.5);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.m-song-wrap{
    padding-top: 70px;

}

.m-song-disc {
    width: 296px;
    height: 296px;
    position: relative;
    margin: 0 auto;

}

.m-song-disc:after {
    content: " ";
    position: absolute;
    width: 96px;
    height: 137px;
    top: -70px;
    left: 133px;
    background-image: url(./images/song/needle-ip6.png);
    background-size: contain;
    z-index: 5;
}

.m-song-turn {
    width: 100%;
    height: 100%;
}

.m-song-turn:before {
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    background: url(./images/song/disc-ip6.png) no-repeat;
    background-size: contain;
}

.m-song-turn:after {
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url(./images/song/disc_light-ip6.png);
    background-size: contain;
    z-index: 3;
}

.m-song-img {
    width: 184px;
    height: 184px;
    margin: -92px 0 0 -92px;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    border-radius: 50%;
    overflow: hidden;
    background: url(./images/song/song-img.png) no-repeat;
    background-size: contain;

}


.u-img {
    width: 100%;
    vertical-align: middle;
}

.m-song-plybtn {
    width: 56px;
    height: 56px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
    background: url(./images/song/play.png) 0 0 no-repeat;
    background-size: contain;
}

.m-song-pausebtn {
    width: 56px;
    height: 56px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
    background: url(./images/song/pause.png) 0 0 no-repeat;
    background-size: contain;
    display: none;
}

.m-song-disc.playing .m-song-pausebtn {
    display: block;
}

.m-song-disc.playing .m-song-plybtn {
    display: none;
}

.m-song-disc.playing .m-song-img,
.m-song-disc.playing .m-song-turn:after{
    animation: circling 20s infinite linear;
}
/*歌词部分*/
.m-song-info {
    padding: 0 35px;
    margin-top: 25px;

}


.m-song-h2 {
    font-size: 18px;
    text-align: center;
    line-height: 1.1;
    color: #fefefe;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.m-song-gap {
    margin: 0 4px;
}

.m-song-autr {
    font-size: 16px;
    color: hsla(0,0%,100%,.6);
}

.m-song-lrc {
    margin-top: 14px;
}

.m-song-scroll {
    font-size: 16px;
    line-height: 1.5;
    overflow: hidden;
    text-align: center;
    color: hsla(0,0%,100%,.6);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.m-song-iner {
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out,-webkit-transform .3s ease-out;
}

.m-song-iner p.active {
    color: #fff;
}


/*页脚部分*/
.u-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    z-index: 10;
}

.footer-wrap {
    display: -webkit-box;
    display: flex;
    padding: 0 35px;
    max-width: 344px;
    margin: 0 auto;
}

.u-btn-hollow {
    display: block;
    height: 36px;
    line-height: 36px;
    padding: 0 6px;
    border: 1px solid #d43b32;
    border-radius: 4px;
    text-align: center;
    box-sizing: border-box;
    margin-left: 0;
    color: #d43b32;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    width: 1%;
    font-size: 15px;
    background-color: transparent;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.u-btn-block {
    display: block;
    height: 36px;
    line-height: 36px;
    padding: 0 6px;
    border: 1px solid #d43b32;
    border-radius: 4px;
    text-align: center;
    box-sizing: border-box;
    color: #fff;
    background-color: #d43b32;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    width: 1%;
    margin-left: 12px;
    font-size: 15px;
}




