
p{
    margin: 0;
}
.wrapper{
    width: 300px;
    border: #333D46;
    box-shadow:0px 0px 9px #333333;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin: 0 auto;
}
.mycountdown{
    background-color: #333D46;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
}
.main{
    padding: 10px;
    box-shadow:0px 0px 9px #333333;
    text-align: center;
    margin-top: 20px;
    position: relative;
}


.timeleftcss{
    margin-top: inherit;
    font-size: 60px;
}
.startcss{
    margin-top: 30px;
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #333D46;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.startcss:hover{
    background-color: #333D46
}

.startcss:active{
  background-color: #333D46;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.firstspan{
    position: relative;
    left: -55px;
}
.secondspan{
    position: relative;
    left: -4px;
}

.thirdspan{
    position: relative;
    left: 58px;
}